.display-shelf-nodes-container {
    width: 80%;
    margin: 20px auto;
    font-family: 'Arial', sans-serif;
    color: #333;
}

h2 {
    color: #007bff;
    margin-bottom: 20px;
}



table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
    color: #555;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #caabab;
}

tr:hover {
    background-color: #e0f7fa;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

/* button.delete {
    background-color: #dc3545;
    color: white;
} */

.delete-connection {
    background-color: #007bff;
    color: white;
}

.delete-device {
    margin-left: 5px;
    background-color: #28a745;
    color: white;
}

button.add {
    background-color: #28a745;
    color: white;
    margin-top: 10px;
}

.add-connection-section {
    background-color: #e8f5e9;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-connection-section h3 {
    color: #28a745;
    margin-bottom: 15px;
}


select {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    border-color: #007bff;

}