<div class="container mt-5">
  <h2>Inventory Management</h2>

  <div class="mt-4">
    <button class="btn btn-primary  mx-2" (click)="saveShelf()">Save Shelf</button>
    <button class="btn btn-warning ml-2 mx-2" (click)="getShelf()">
      Get Shelf by ID
    </button>
    <button class="btn btn-info ml-2 mx-2" (click)="saveShelfPosition()">
      Save Shelf Position
    </button>
    <button class="btn btn-danger ml-2 mx-2" (click)="getShelfPosition()">
      Get Shelf Position by ID
    </button>
  </div>
</div>
