table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;

}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    text-transform: uppercase;
    background-color: #5c5b35;
    color: white;
}

tr:hover {
    background-color: #e1ede2;
}

p {
    font-style: italic;
    color: #888;
    text-align: center;
    margin-top: 20px;
}